<!DOCTYPE html>
<!-- Push number 40 -->
<!-- 
    Hi bro Programmer, 8 attempts needed to make it works 
    By the way what are you doing here ?
    Are you trying to steal something ? Have some morals bro.
-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Load Prism CSS -->
    <link href={{ "/css/themes/prism-tomorrow.css" }} rel="stylesheet" />
    
    {# use the absolute path when assigning the files to not have problems later in files. Consider the root folder is the "src" folder#}
    <link rel="stylesheet" href={{ "/css/style.css" }} >

    {# For Mobile devices to change the Address bar of the browsers #}
    <meta name="theme-color" content="#e1e3ea" />

    <title>The Blob Blog</title>
</head>
<body>

    <div class="container">
        {# This will not be applied in the home page #}
        {% if page.url != '/' %}
            {% include "header.njk" %}
        {% endif %}
        

        {{ content | safe }}
    </div>

    {# To force links to open in a new tab because GFm and MD doo not support the new tabs for security reasons #}
    <script>
        (function () {
            const links = document.querySelectorAll("a[href^='http://'], a[href^='https://']");
            const host = window.location.hostname;

            const isInternalLink = (link) => {
            try {
                return new URL(link.href).hostname === host;
            } catch {
                return false;
            }
            };

            links.forEach(link => {
            if (!isInternalLink(link)) {
                link.setAttribute("target", "_blank");
                link.setAttribute("rel", "noopener");
            }
            });
        })();
    </script>

</body>
</html>