<div class="mainTitle" style="display: flex; justify-content: space-between; flex-wrap: wrap; align-items: center; gap: 10px;">
    <h1 style="overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; flex: 1; min-width: 0; margin: 0;">
        {{ title | safe}}
    </h1>
    <a href="/" style="font-weight: normal; flex-shrink: 0;">home</a>
</div>
{% for tag in tags %}
    <a href="/pages/collections/{{ tag | lower }}/" class="hashtag">#{{ tag }}</a>
{% endfor %}
<br>
<br>
<hr>
<br>