<div class="mainTitle" style="display: flex; justify-content: space-between;">
    <h1>{{ title | safe}}</h1>
    <a href="/" style="font-weight: normal;">home</a>
</div>
{% for tag in tags %}
    <span class="hashtag">#{{ tag }}</span>
{% endfor %}
<br>
<br>
<hr>
<br>