{# 
    parameters.
        title
        link
        imageLink
        text

#}
<div class="youtube-video" >
    <img src="{{parameters.imageLink}}" />
    
    <div class="text">
        <h4><a style="color: var(--text-color);" href="{{parameters.link}}">{{parameters.title}}</a></h4>
        <p>
            {{parameters.text}}
        </p>
    </div>
</div>  




{# Example To Include the element

{% set parameters = {
        "title": "tournament", 
        "link": "https://www.youtube.com/watch?v=IGK0wYXebmc",
        "imageLink" : "/assets/images/videoImage2.jpg" , 
        "text" : "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab omnis et itaque consequatur recusandae temporibus." 
    } 
%}
{% include 'youtube-element.njk' %}

#}